* {
  text-align: center;
  background-color: #282c34;
}

#header {
  font-size: calc(10px + 2vmin);
  color: white;
}

#dropdown {
  color: #282c34;
  background-color: white;
}

.dogImage {
  height: 300px;
  width: 300px;
}

.button {
  color: #282c34;
  background-color: white;
}