* {
  text-align: center;
  background-color: #282c34;
}

#header {
  font-size: 30px;
  color: white;
}

#dropdown {
  color: #282c34;
  background-color: white;
  border: none;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
}

#imageGallery {
  padding: 10px;
  background-color: white;
  max-width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#imageGallery:empty {
    display:none;
}

.dogImage {
  height: 250px;
  width: 250px;
  margin: 5px;
  padding: 2px;
}

.button {
  color: #000000;
  background-color: rgb(164, 164, 233);
  border: none;
  padding: 10px 15px;
  margin: 5px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

.button:hover {
  color: #ffffff;
  background-color: rgb(99, 99, 159);
  border: none;
  padding: 10px 15px;
  margin: 5px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}